version: '3.4'

services:
  query-mammals-service:
    image: heinvde.mammals/query-mammals-service:1.0.0
    build:
      context: ./app
    command: flask --app ./app/main.py --debug run --host 0.0.0.0
    ports:
      - 5000:5000
    volumes:
      - .:/app
    environment:
      ENVIRONMENT: dev
      MAMMALS_MONGO_CONN_STRING: mongodb://mammals-mongo:27017

  mammals-mongo:
    image: heinvde.mammals/mongo:1.0.0
    command: mongod --quiet --logpath /dev/null
